-- ============================================================================
-- SYNC LOCAL DATABASE TO MATCH NEON SCHEMA
-- Generated: 2026-02-05 18:37:31
-- Run as: postgres superuser
-- Database: almsdata (LOCAL)
-- ============================================================================


-- ============================================================================
-- Table: accounting_entries (4 columns)
-- ============================================================================
ALTER TABLE accounting_entries
  ADD COLUMN IF NOT EXISTS banking_transaction_id bigint,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS payment_id bigint,
  ADD COLUMN IF NOT EXISTS receipt_id bigint
;

-- ============================================================================
-- Table: banking_receipt_matching_ledger (4 columns)
-- ============================================================================
ALTER TABLE banking_receipt_matching_ledger
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS charter_id bigint,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS payment_id bigint
;

-- ============================================================================
-- Table: banking_transactions (4 columns)
-- ============================================================================
ALTER TABLE banking_transactions
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS charter_id bigint,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS payment_id bigint
;

-- ============================================================================
-- Table: chart_of_accounts (6 columns)
-- ============================================================================
ALTER TABLE chart_of_accounts
  ADD COLUMN IF NOT EXISTS default_category_code character varying(50),
  ADD COLUMN IF NOT EXISTS is_business_expense boolean DEFAULT true,
  ADD COLUMN IF NOT EXISTS is_linked_account boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS is_tax_applicable boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS requires_employee boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS requires_vehicle boolean DEFAULT false
;

-- ============================================================================
-- Table: charter_payments (4 columns)
-- ============================================================================
ALTER TABLE charter_payments
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS banking_transaction_id bigint,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS receipt_id bigint
;

-- ============================================================================
-- Table: charter_routes (3 columns)
-- ============================================================================
ALTER TABLE charter_routes
  ADD COLUMN IF NOT EXISTS address text,
  ADD COLUMN IF NOT EXISTS reserve_number character varying(20),
  ADD COLUMN IF NOT EXISTS stop_time time without time zone
;

-- ============================================================================
-- Table: charter_run_types (2 columns)
-- ============================================================================
ALTER TABLE charter_run_types
  ADD COLUMN IF NOT EXISTS description text,
  ADD COLUMN IF NOT EXISTS id integer
;

-- ============================================================================
-- Table: charters (40 columns)
-- ============================================================================
ALTER TABLE charters
  ADD COLUMN IF NOT EXISTS account_number character varying(50),
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS actual_hours numeric,
  ADD COLUMN IF NOT EXISTS approved_at timestamp without time zone,
  ADD COLUMN IF NOT EXISTS arrived_at_event_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS assigned_driver_id integer,
  ADD COLUMN IF NOT EXISTS banking_transaction_id bigint,
  ADD COLUMN IF NOT EXISTS beverage_service_required boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS calculated_hours numeric,
  ADD COLUMN IF NOT EXISTS cancelled boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS completion_timestamp timestamp with time zone,
  ADD COLUMN IF NOT EXISTS driver character varying(50),
  ADD COLUMN IF NOT EXISTS driver_hourly_rate numeric DEFAULT 15.00,
  ADD COLUMN IF NOT EXISTS driver_hours_worked numeric,
  ADD COLUMN IF NOT EXISTS driver_paid boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS duty_log jsonb,
  ADD COLUMN IF NOT EXISTS en_route_to_event_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS fuel_added numeric,
  ADD COLUMN IF NOT EXISTS fuel_added_liters numeric,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS notes text,
  ADD COLUMN IF NOT EXISTS nrd_received_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS nrr_amount numeric,
  ADD COLUMN IF NOT EXISTS nrr_received boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS off_duty_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS on_duty_started_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS on_location_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS paid_amount numeric DEFAULT 0.00,
  ADD COLUMN IF NOT EXISTS passengers_loaded_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS payment_id bigint,
  ADD COLUMN IF NOT EXISTS payment_status character varying(20) DEFAULT 'Pending'::character varying,
  ADD COLUMN IF NOT EXISTS receipt_id bigint,
  ADD COLUMN IF NOT EXISTS red_deer_bylaw_exempt boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS reservation_time timestamp without time zone,
  ADD COLUMN IF NOT EXISTS return_journey_started_at timestamp with time zone,
  ADD COLUMN IF NOT EXISTS split_run_after_hours numeric DEFAULT 0.00,
  ADD COLUMN IF NOT EXISTS split_run_before_hours numeric DEFAULT 0.00,
  ADD COLUMN IF NOT EXISTS vehicle character varying(50),
  ADD COLUMN IF NOT EXISTS workshift_end timestamp without time zone,
  ADD COLUMN IF NOT EXISTS workshift_start timestamp without time zone
;

-- ============================================================================
-- Table: clients (4 columns)
-- ============================================================================
ALTER TABLE clients
  ADD COLUMN IF NOT EXISTS account_type character varying(20) DEFAULT 'individual'::character varying,
  ADD COLUMN IF NOT EXISTS is_company boolean,
  ADD COLUMN IF NOT EXISTS is_taxable boolean DEFAULT true,
  ADD COLUMN IF NOT EXISTS parent_client_id integer
;

-- ============================================================================
-- Table: employees (3 columns)
-- ============================================================================
ALTER TABLE employees
  ADD COLUMN IF NOT EXISTS department character varying,
  ADD COLUMN IF NOT EXISTS driver_code character varying(10),
  ADD COLUMN IF NOT EXISTS version integer DEFAULT 1
;

-- ============================================================================
-- Table: general_ledger (27 columns)
-- ============================================================================
ALTER TABLE general_ledger
  ADD COLUMN IF NOT EXISTS account_description text,
  ADD COLUMN IF NOT EXISTS account_full_name text,
  ADD COLUMN IF NOT EXISTS account_number text,
  ADD COLUMN IF NOT EXISTS account_type text,
  ADD COLUMN IF NOT EXISTS customer text,
  ADD COLUMN IF NOT EXISTS customer_first_name text,
  ADD COLUMN IF NOT EXISTS customer_full_name text,
  ADD COLUMN IF NOT EXISTS customer_middle_name text,
  ADD COLUMN IF NOT EXISTS customer_title text,
  ADD COLUMN IF NOT EXISTS distribution_account text,
  ADD COLUMN IF NOT EXISTS distribution_account_description text,
  ADD COLUMN IF NOT EXISTS distribution_account_number text,
  ADD COLUMN IF NOT EXISTS distribution_account_subtype text,
  ADD COLUMN IF NOT EXISTS distribution_account_type text,
  ADD COLUMN IF NOT EXISTS employee_billable text,
  ADD COLUMN IF NOT EXISTS employee_deleted text,
  ADD COLUMN IF NOT EXISTS employee_id text,
  ADD COLUMN IF NOT EXISTS item_supplier_company text,
  ADD COLUMN IF NOT EXISTS parent_account_id text,
  ADD COLUMN IF NOT EXISTS parent_distribution_account_id text,
  ADD COLUMN IF NOT EXISTS po_number text,
  ADD COLUMN IF NOT EXISTS tax_code text,
  ADD COLUMN IF NOT EXISTS tax_name text,
  ADD COLUMN IF NOT EXISTS tax_slip_type text,
  ADD COLUMN IF NOT EXISTS transaction_date date,
  ADD COLUMN IF NOT EXISTS transaction_id text,
  ADD COLUMN IF NOT EXISTS ungrouped_tags text
;

-- ============================================================================
-- Table: income_ledger (3 columns)
-- ============================================================================
ALTER TABLE income_ledger
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS banking_transaction_id bigint,
  ADD COLUMN IF NOT EXISTS receipt_id bigint
;

-- ============================================================================
-- Table: invoice_line_items (20 columns)
-- ============================================================================
ALTER TABLE invoice_line_items
  ADD COLUMN IF NOT EXISTS account_code character varying(50),
  ADD COLUMN IF NOT EXISTS account_name character varying(255),
  ADD COLUMN IF NOT EXISTS amount numeric,
  ADD COLUMN IF NOT EXISTS created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  ADD COLUMN IF NOT EXISTS discount_amount numeric,
  ADD COLUMN IF NOT EXISTS discount_percent numeric,
  ADD COLUMN IF NOT EXISTS driver_id integer,
  ADD COLUMN IF NOT EXISTS id integer,
  ADD COLUMN IF NOT EXISTS income_account character varying(50),
  ADD COLUMN IF NOT EXISTS is_taxable boolean DEFAULT true,
  ADD COLUMN IF NOT EXISTS item_name character varying(255),
  ADD COLUMN IF NOT EXISTS item_type character varying(50),
  ADD COLUMN IF NOT EXISTS line_number integer,
  ADD COLUMN IF NOT EXISTS qb_class character varying(100),
  ADD COLUMN IF NOT EXISTS qb_item_id character varying(50),
  ADD COLUMN IF NOT EXISTS rate numeric,
  ADD COLUMN IF NOT EXISTS service_type character varying(100),
  ADD COLUMN IF NOT EXISTS tax_amount numeric,
  ADD COLUMN IF NOT EXISTS tax_code character varying(20),
  ADD COLUMN IF NOT EXISTS vehicle_id integer
;

-- ============================================================================
-- Table: payments (32 columns)
-- ============================================================================
ALTER TABLE payments
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS adjustment_type character varying(50),
  ADD COLUMN IF NOT EXISTS applied_to_invoice integer,
  ADD COLUMN IF NOT EXISTS authorization_code character varying(100),
  ADD COLUMN IF NOT EXISTS banking_receipt_matching_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS banking_transaction_id integer,
  ADD COLUMN IF NOT EXISTS charter_id integer,
  ADD COLUMN IF NOT EXISTS check_number character varying(50),
  ADD COLUMN IF NOT EXISTS client_id integer,
  ADD COLUMN IF NOT EXISTS credit_card_expiry character varying(7),
  ADD COLUMN IF NOT EXISTS credit_card_last4 character varying(4),
  ADD COLUMN IF NOT EXISTS deposit_to_account character varying(50),
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS last_updated_by character varying(100),
  ADD COLUMN IF NOT EXISTS payment_account character varying(50),
  ADD COLUMN IF NOT EXISTS payment_amount numeric,
  ADD COLUMN IF NOT EXISTS qb_payment_type character varying(50),
  ADD COLUMN IF NOT EXISTS qb_trans_num character varying(50),
  ADD COLUMN IF NOT EXISTS receipt_id bigint,
  ADD COLUMN IF NOT EXISTS related_payment_id integer,
  ADD COLUMN IF NOT EXISTS square_card_brand text,
  ADD COLUMN IF NOT EXISTS square_customer_email text,
  ADD COLUMN IF NOT EXISTS square_customer_name text,
  ADD COLUMN IF NOT EXISTS square_gross_sales numeric,
  ADD COLUMN IF NOT EXISTS square_last4 text,
  ADD COLUMN IF NOT EXISTS square_net_sales numeric,
  ADD COLUMN IF NOT EXISTS square_notes text,
  ADD COLUMN IF NOT EXISTS square_payment_id text,
  ADD COLUMN IF NOT EXISTS square_status text,
  ADD COLUMN IF NOT EXISTS square_tip numeric,
  ADD COLUMN IF NOT EXISTS square_transaction_id text,
  ADD COLUMN IF NOT EXISTS version integer DEFAULT 1
;

-- ============================================================================
-- Table: receipt_categories (2 columns)
-- ============================================================================
ALTER TABLE receipt_categories
  ADD COLUMN IF NOT EXISTS gl_account_code character varying(20),
  ADD COLUMN IF NOT EXISTS is_business_expense boolean DEFAULT true
;

-- ============================================================================
-- Table: receipts (29 columns)
-- ============================================================================
ALTER TABLE receipts
  ADD COLUMN IF NOT EXISTS accounting_entry_id bigint,
  ADD COLUMN IF NOT EXISTS amount_usd numeric,
  ADD COLUMN IF NOT EXISTS cash_box_transaction_id integer,
  ADD COLUMN IF NOT EXISTS classification character varying(50),
  ADD COLUMN IF NOT EXISTS date_added timestamp without time zone,
  ADD COLUMN IF NOT EXISTS due_date date,
  ADD COLUMN IF NOT EXISTS event_batch_id bigint,
  ADD COLUMN IF NOT EXISTS exported boolean,
  ADD COLUMN IF NOT EXISTS fx_rate numeric,
  ADD COLUMN IF NOT EXISTS income_ledger_id bigint,
  ADD COLUMN IF NOT EXISTS mapped_expense_account_id integer,
  ADD COLUMN IF NOT EXISTS mapping_notes text,
  ADD COLUMN IF NOT EXISTS mapping_status character varying(20),
  ADD COLUMN IF NOT EXISTS parent_receipt_id bigint,
  ADD COLUMN IF NOT EXISTS pay_account character varying(50),
  ADD COLUMN IF NOT EXISTS payment_id bigint,
  ADD COLUMN IF NOT EXISTS period_end date,
  ADD COLUMN IF NOT EXISTS period_start date,
  ADD COLUMN IF NOT EXISTS reimbursed_via character varying(50),
  ADD COLUMN IF NOT EXISTS reimbursement_date date,
  ADD COLUMN IF NOT EXISTS reviewed boolean,
  ADD COLUMN IF NOT EXISTS sales_tax numeric,
  ADD COLUMN IF NOT EXISTS sub_classification character varying(50),
  ADD COLUMN IF NOT EXISTS tax numeric,
  ADD COLUMN IF NOT EXISTS tip numeric,
  ADD COLUMN IF NOT EXISTS updated_at timestamp without time zone DEFAULT now(),
  ADD COLUMN IF NOT EXISTS validation_reason text,
  ADD COLUMN IF NOT EXISTS validation_status text DEFAULT 'PENDING'::text,
  ADD COLUMN IF NOT EXISTS version integer DEFAULT 1
;

-- ============================================================================
-- Table: run_type_default_charges (2 columns)
-- ============================================================================
ALTER TABLE run_type_default_charges
  ADD COLUMN IF NOT EXISTS formula character varying(100),
  ADD COLUMN IF NOT EXISTS id integer
;

-- ============================================================================
-- Table: vehicle_pricing_defaults (9 columns)
-- ============================================================================
ALTER TABLE vehicle_pricing_defaults
  ADD COLUMN IF NOT EXISTS airport_pickup_calgary numeric,
  ADD COLUMN IF NOT EXISTS airport_pickup_edmonton numeric,
  ADD COLUMN IF NOT EXISTS created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
  ADD COLUMN IF NOT EXISTS daily_rate numeric,
  ADD COLUMN IF NOT EXISTS fee_1 numeric,
  ADD COLUMN IF NOT EXISTS fee_2 numeric,
  ADD COLUMN IF NOT EXISTS fee_3 numeric,
  ADD COLUMN IF NOT EXISTS hourly_package numeric,
  ADD COLUMN IF NOT EXISTS nrr numeric
;

-- ============================================================================
-- Table: vehicles (2 columns)
-- ============================================================================
ALTER TABLE vehicles
  ADD COLUMN IF NOT EXISTS requires_class_2 boolean DEFAULT false,
  ADD COLUMN IF NOT EXISTS version integer DEFAULT 1
;

-- ============================================================================
-- INDEXES AND FOREIGN KEYS
-- ============================================================================

-- Add indexes for foreign key columns

-- accounting_entries
CREATE INDEX IF NOT EXISTS idx_accounting_entries_banking_transaction_id ON accounting_entries(banking_transaction_id);
CREATE INDEX IF NOT EXISTS idx_accounting_entries_income_ledger_id ON accounting_entries(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_accounting_entries_payment_id ON accounting_entries(payment_id);
CREATE INDEX IF NOT EXISTS idx_accounting_entries_receipt_id ON accounting_entries(receipt_id);

-- banking_receipt_matching_ledger
CREATE INDEX IF NOT EXISTS idx_banking_receipt_matching_ledger_accounting_entry_id ON banking_receipt_matching_ledger(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_banking_receipt_matching_ledger_charter_id ON banking_receipt_matching_ledger(charter_id);
CREATE INDEX IF NOT EXISTS idx_banking_receipt_matching_ledger_income_ledger_id ON banking_receipt_matching_ledger(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_banking_receipt_matching_ledger_payment_id ON banking_receipt_matching_ledger(payment_id);

-- banking_transactions
CREATE INDEX IF NOT EXISTS idx_banking_transactions_accounting_entry_id ON banking_transactions(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_banking_transactions_charter_id ON banking_transactions(charter_id);
CREATE INDEX IF NOT EXISTS idx_banking_transactions_income_ledger_id ON banking_transactions(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_banking_transactions_payment_id ON banking_transactions(payment_id);

-- charter_payments
CREATE INDEX IF NOT EXISTS idx_charter_payments_accounting_entry_id ON charter_payments(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_charter_payments_banking_transaction_id ON charter_payments(banking_transaction_id);
CREATE INDEX IF NOT EXISTS idx_charter_payments_income_ledger_id ON charter_payments(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_charter_payments_receipt_id ON charter_payments(receipt_id);

-- charters
CREATE INDEX IF NOT EXISTS idx_charters_accounting_entry_id ON charters(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_charters_assigned_driver_id ON charters(assigned_driver_id);
CREATE INDEX IF NOT EXISTS idx_charters_banking_transaction_id ON charters(banking_transaction_id);
CREATE INDEX IF NOT EXISTS idx_charters_income_ledger_id ON charters(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_charters_payment_id ON charters(payment_id);
CREATE INDEX IF NOT EXISTS idx_charters_receipt_id ON charters(receipt_id);

-- clients
CREATE INDEX IF NOT EXISTS idx_clients_parent_client_id ON clients(parent_client_id);

-- general_ledger
CREATE INDEX IF NOT EXISTS idx_general_ledger_employee_id ON general_ledger(employee_id);
CREATE INDEX IF NOT EXISTS idx_general_ledger_parent_account_id ON general_ledger(parent_account_id);
CREATE INDEX IF NOT EXISTS idx_general_ledger_parent_distribution_account_id ON general_ledger(parent_distribution_account_id);
CREATE INDEX IF NOT EXISTS idx_general_ledger_transaction_id ON general_ledger(transaction_id);

-- income_ledger
CREATE INDEX IF NOT EXISTS idx_income_ledger_accounting_entry_id ON income_ledger(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_income_ledger_banking_transaction_id ON income_ledger(banking_transaction_id);
CREATE INDEX IF NOT EXISTS idx_income_ledger_receipt_id ON income_ledger(receipt_id);

-- invoice_line_items
CREATE INDEX IF NOT EXISTS idx_invoice_line_items_driver_id ON invoice_line_items(driver_id);
CREATE INDEX IF NOT EXISTS idx_invoice_line_items_qb_item_id ON invoice_line_items(qb_item_id);
CREATE INDEX IF NOT EXISTS idx_invoice_line_items_vehicle_id ON invoice_line_items(vehicle_id);

-- payments
CREATE INDEX IF NOT EXISTS idx_payments_accounting_entry_id ON payments(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_payments_banking_receipt_matching_ledger_id ON payments(banking_receipt_matching_ledger_id);
CREATE INDEX IF NOT EXISTS idx_payments_banking_transaction_id ON payments(banking_transaction_id);
CREATE INDEX IF NOT EXISTS idx_payments_charter_id ON payments(charter_id);
CREATE INDEX IF NOT EXISTS idx_payments_client_id ON payments(client_id);
CREATE INDEX IF NOT EXISTS idx_payments_income_ledger_id ON payments(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_payments_receipt_id ON payments(receipt_id);
CREATE INDEX IF NOT EXISTS idx_payments_related_payment_id ON payments(related_payment_id);
CREATE INDEX IF NOT EXISTS idx_payments_square_payment_id ON payments(square_payment_id);
CREATE INDEX IF NOT EXISTS idx_payments_square_transaction_id ON payments(square_transaction_id);

-- receipts
CREATE INDEX IF NOT EXISTS idx_receipts_accounting_entry_id ON receipts(accounting_entry_id);
CREATE INDEX IF NOT EXISTS idx_receipts_cash_box_transaction_id ON receipts(cash_box_transaction_id);
CREATE INDEX IF NOT EXISTS idx_receipts_event_batch_id ON receipts(event_batch_id);
CREATE INDEX IF NOT EXISTS idx_receipts_income_ledger_id ON receipts(income_ledger_id);
CREATE INDEX IF NOT EXISTS idx_receipts_mapped_expense_account_id ON receipts(mapped_expense_account_id);
CREATE INDEX IF NOT EXISTS idx_receipts_parent_receipt_id ON receipts(parent_receipt_id);
CREATE INDEX IF NOT EXISTS idx_receipts_payment_id ON receipts(payment_id);

-- ============================================================================
-- SUMMARY: 200 columns across 19 tables
-- ============================================================================
